/*Load google font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;
    text-rendering : optimizeLegibility;
	font-size: 19px;
	background-color: #FEFEFE;
	color: #04143A;
    /*text-align: center;*/
}
h1.name {
    font-size: 500%;
    font-weight: 300%;
	color: white;
}
.title {
	color: lightcyan;
	font-size: 200%;
}
.lead1 {
	color: lightblue;
	font-size: 150%;
}
.hero {
    margin: auto;
    padding: 270px 100px;
    background: lightseagreen;
}

/* Portfolio CSS */
.portfolio-header {
    margin: auto;
    padding: 50px 100px;
    background: lightsalmon;
}
.portfolio-header h2{
	font-size: 250%;
	text-align: center;
}
.cards {
	display: block;
}
.card {
	width: 47.9%;
	height: 250px;
	/*background-color: #EEF0F7;*/
	background-color: blanchedalmond;
	display: inline-block;
	margin: 7px 5px;
	vertical-align: top;
	border-radius: 10px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
}
.card-pic {
	display: inline-block;
	max-width: 160px;
}
.card-pic img {
	height: 100%;
	width: 100%;
	padding-top: 15px;
}
.card-pic span {
	font-size: 35px;
	font-weight: 300;
	color: #5B6A9A;
	vertical-align: top;
}
.card-pic-federide {
	padding-top: 25px;
}

.card-pic h2 {
	font-size: 95px;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
	color: #5B6A9A;
	letter-spacing: -5px;
}
.card-cap {
	vertical-align: top;
	display: inline-block;
	max-width: 300px;
	text-align: left;
	margin-top: 15px;
	margin-left: 15px;
}
.card-cap h3 {
	font-size: 20px;
	font-weight: 800;
	color: #5B6A9A;
	margin-bottom: 5px;
}

.card-cap span{
	color: #81899C;
	line-height: 20px;
	font-size: 16px;
}

/* Inspiration */
.inspire-header {
    margin: auto;
    padding: 50px 100px;
    background: lightcoral;
}
.inspire-header h2{
	font-size: 250%;
	text-align: center;
}

.miro {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.miro iframe {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
}

/* Connect */
.connect-header {
    margin: auto;
    padding: 50px 100px;
    background: lightpink;
}
.connect-header h2{
	font-size: 250%;
	text-align: center;
}